body {
  padding-top: 250px;
  background-color: #eee; }

table img {
  width: 100%; }

.panel {
  text-align: center;
  box-shadow: 0px 1px 20px #aaa; }

.button {
  width: 20%;
  padding: 15px;
  margin-top: 450px;
  margin-left: 40%;
  text-align: center;
  background-color: black;
  opacity: 0.7;
  border: 1px solid white;
  border-radius: 2px;
  box-shadow: 0px 0px 5px white;
  text-decoration: none;
  color: white;
  font-family: "Verdana"; }

.center {
  margin: auto;
  width: 48%; }

#navBar, #footer {
  background-color: #ddf;
  box-shadow: 0px 1px 10px black; }
  #navBar ul, #footer ul {
    margin-left: 55%; }
  #navBar li, #footer li {
    font-size: 20px;
    font-family: "Verdana"; }

#logo {
  height: 100%; }

#downArrow {
  width: 15%; }

#profileImg {
  border-radius: 50%; }

#home, #about, #project, #contact {
  height: 800px; }

#home {
  background-image: url("../images/sky.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }
